html {
  font-family: 'Segoe UI', 'Helvetica Neue', Arial, Tahoma, sans-serif;
}
.star-form {
  width: fit-content;
  direction: rtl;
}
.radio {
  display: none;
}
.label {
  cursor: pointer;
}
.svg-star {
  width: 70px;
  height: 70px;
  fill: transparent;
  stroke: #e38227;
  transition: 0.2s ease;
}
.radio:hover ~ label>.svg-star {
  fill: #fdff6b;
}
.radio:checked ~ label>.svg-star {
  fill: #ff8c00;
}